#profilepic{
    width:250px;
    height:250px;
    border-radius: 50%;
    animation: hover 5s ease-in-out infinite;
    display: block; 
    align-items: center;
    margin-top: 25vh;

}http://127.0.0.1:3000/assets/profilepic.jpg