#profilepic{
    width:250px;
    height:250px;
    border-radius: 50%;
    display: block; 
    align-items: center;
    margin-top: 25vh;
    border: 2px solid #232b2b;
    animation-fill-mode: forwards;
    transition: transform 3s;
    animation: floating 3.3s ease-in-out infinite;

}
#profile-pic-container{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}


